
.sponsors-container {
  border: 2px solid #FFD700; /* Golden border */
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.sponsors-title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.sponsors-carousel-container {
    width: 100%;
    overflow: hidden;
  }
  
  .sponsors-carousel-track {
    display: flex;
    width: calc(300px * 82); 
    animation: scroll 120s linear infinite;
  }
  
  .sponsor-slide {
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    padding: 0 15px;
  }
  
  .sponsor-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-300px * 41));
    }
  }
  @media (max-width: 768px) {
    .sponsors-carousel-track {
        width: calc(300px * 82); 
        animation: scroll-mobile 120s linear infinite;
    }
    .sponsor-slide {
        width: 300px;
        height: 300px;
        padding: 0 10px;
      }
  }

  @keyframes scroll-mobile {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-300px * 41));
    }
  }
