/* En este archivo pueden definirse los estilos globales de la aplicación,
como también importar otros archivos de estilos.
Para más información sobre Estilos Globales, visita:
https://nextjs.org/docs/app/building-your-application/styling/css-modules*/

/* Importación de la fuente Titillium Web */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

/* Tailwind CSS Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

.root-layout {
    background-color: var(--color-fondo-claro);
    color: var(--color-texto-claro);
    transition: background-color 0.3s, color 0.3s;
}

.barra-navegacion {
    background-color: var(--color-barra-navegacion-claro);
    /* Otros estilos de la barra de navegación que quieras que sean consistentes */
}

.footer-estilo {
    background-color: var(--color-footer-claro);
    color: var(--color-texto-claro);
}


:root {
    --negro: #393939;
    --blanco: #ececec;
    --sombra-ppal: #c9c9c9;
    --sombra-sec: #ffffff;
    --borde-negro: #00000050;
    --marcado: rgb(127, 195, 255);
  /* Tipografía */
    --tipo-principal: Helvetica, Arial, sans-serif;
}
:root {
    /* Colores para el tema CLARO */
    --color-fondo-claro: #fffbf0; /* Color de fondo principal de la sección */
    --color-texto-claro: #000000; /* Color de texto general */
    --color-barra-navegacion-claro: #FAF9F6; /* MODIFICADO: Color de la barra de navegación a blanco pastel */
    --color-footer-claro: #222; /* Color del pie de página */
    --color-box-claro: #1e3e62; /* Color de las cajas de noticias */
    --color-sombra-ppal-claro: #c9c9c9; /* Sombra principal */
    --color-sombra-sec-claro: #ffffff; /* Sombra secundaria */
    --color-borde-negro-claro: #00000050; /* Borde oscuro */
    --color-marcado-claro: rgb(127, 195, 255); /* Color de marcado/activo */
    --color-footer-titulo: #FFD700;
    --color-noticia-varias-hover-claro: #ffffff; /* Color del texto al hacer hover en noticias varias */
}
@media (prefers-color-scheme: dark) {
    :root{
    /* Colores para el tema OSCURO */
    --color-fondo-claro: #202020; /* Fondo más oscuro */
    --color-texto-claro: #ffffff; /* Texto claro */
    --color-barra-navegacion-claro: #1a1a1a; /* Barra de navegación más oscura */
    --color-footer-claro: #111; /* Pie de página muy oscuro */
    --color-box-claro: #333333; /* Cajas de noticias más oscuras */
    --color-sombra-ppal-claro: #1a1a1a; /* Sombras adaptadas al oscuro */
    --color-sombra-sec-claro: #4a4a4a; /* Sombras adaptadas al oscuro */
    --color-borde-negro-claro: #FFFFFF50; /* Borde claro */
    --color-marcado-claro: rgb(70, 130, 180); /* Color de marcado/activo para oscuro */
    --color-noticia-varias-hover-claro: #e0e0e0; /* Color del texto al hacer hover en noticias varias para oscuro */
}}






.titillium-web-regular {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.titillium-web-semibold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.titillium-web-bold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.font-alegreya-extrabold {
    font-family: 'Alegreya', serif;
    font-weight: 800; /* Extra-bold */
    font-style: normal;
}


.font-alegreya-regular{
    font-family: 'Alegreya', serif;
    font-style: normal;

}

