/* app/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* 
      Aplicamos las clases personalizadas que definimos en tailwind.config.ts.
      - `bg-fondo-svg` aplica el color de fondo #b9d9eb.
      - `bg-hexagon-pattern` aplica la imagen SVG del patrón de hexágonos.
    */
    @apply bg-fondo-svg bg-hexagon-pattern;
  }
}
