/* app/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 
    SOLUCIÓN ESTRUCTURAL DEFINITIVA
    Se definen las alturas de la barra de navegación como variables CSS para una 
    gestión centralizada y semántica.
  */
  :root {
    --navbar-height-mobile: 138px; /* Altura total de los elementos fijos en móvil */
    --navbar-height-desktop: 148px; /* Altura total de los elementos fijos en escritorio */
  }

  body {
    @apply bg-fondo-svg bg-hexagon-pattern;
  }

  /* 
    El padding se elimina de aquí y se gestionará directamente en el layout
    utilizando las variables CSS para máxima claridad y mantenibilidad.
  */
}

@keyframes neonPulseRed {
  0% {
    box-shadow: 0 0 5px #ff1a1a, 0 0 10px #ff1a1a, 0 0 20px #ff1a1a;
  }
  50% {
    box-shadow: 0 0 10px #ff4d4d, 0 0 20px #ff4d4d, 0 0 35px #ff4d4d;
  }
  100% {
    box-shadow: 0 0 5px #ff1a1a, 0 0 10px #ff1a1a, 0 0 20px #ff1a1a;
  }
}

.neon-red {
  animation: neonPulseRed 1.8s ease-in-out infinite;
}
