:root {
    --color-barra-navegacion-claro: #241F55; /* Color de la barra de navegación */
    --color-footer-claro: #222; /* Color del pie de página */
    --color-footer-titulo: #FFD700;
}
@media (prefers-color-scheme: dark) {
    :root{
    --color-footer-claro: #111; /* Pie de página muy oscuro */
}}

.footer {
    margin-top: 3rem;
    background-color: var(--color-footer-claro); /* Usa la variable */
    color: #ececec;
    clear: both;
    padding: 1rem 0;
    position: relative;
    z-index: 1;
}

.div-conteiner {
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    margin: 0 auto;
    gap: 30px;
}

.footer h4{
    color: var(--color-footer-titulo);
    font-size: 25px;
}

.footer-section .footer-brand {
    flex: 1;
    min-width: 200px;
}

.izquierda {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.izquierda p{
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.redes ul {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.redes h4 {
    margin: 0 0 8px 0;
}

.centro {
    text-align: center;
}

.derecha {
    text-align: center;
}

.derecha p{
    text-align: justify;
    color: white;
}

.footer-section-p{
    font-size: 20px;
}

.footer-logo{
    width: 300px;
}
.footer-span{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
    font-size: 2em;
    font-weight: bold;
}

.footer-bottom {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-top: 2rem;
    border-top: 1px solid; /* Ajusta el color del borde si es necesario */
    border-top-color: var(--color-borde-negro-claro); /* Ajusta el color del borde si es necesario */
    color: var(--color-noticia-varias-hover-claro); /* Un gris más suave para el texto pequeño */

}
.footer-bottom .footer-bottom-p{
    text-align: center;
}
.footer-bottom-p a{
    text-decoration: none;
}
.footer-bottom-ul{
    display: contents;
}
.footer-bottom-ul li{
    align-items:start;
    display:contents;
}
.footer-bottom-ul a{
    font-size: 1.3rem;
    text-decoration: none;
    color: #FFF; /* Un gris más suave para los enlaces */
    text-align: start;
    display: contents;
}

.footer p{
    color: #FFFFFF;
}
/*footer secciones*/
.footer-ul-li a{
    text-decoration: none;
    color: #FFF; /* Usa la variable */
    text-align: start;
    display: block;
    font-size: 20px;
    list-style-type: none;
}

.footer-ul-li{
    list-style-type: none;
}

/*footer redes*/
.youtube-menu{
    color: #FF0000;
}
.fa-youtube{
    color: #FF0000;
}
.fa-facebook{
    color: #1877F2;
}
.instagram-gradient {
    font-size: 40px;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}
.fa-x-twitter{
    color: #dddddd;
}
.fa-telegram{
    color: #0088CC;
}
/*footer contacto*/
.footer-a-contacto{
    display: block;
    text-align: start;
    text-decoration: none;
    color: #ffffff; /* Usa la variable */
}
.fa-envelope{
    color: #ffffff;
}
.fa-circle-info{
    color: #ffffff;
}
.fa-square-phone{
    color:#1877F2;
}
.fa-linkedin{
    color: #1877F2;
}
.fa-location-dot{
    color:#c70b0b;
}
.fa-whatsapp{
    color: #4FCE5D;
    color: #075E54;
}
/*footer contacto*/
.footer-bottom-contacto{
    display: flex;
}
/*version responsiva del footer*/
@media (max-width: 768px) {
.div-conteiner {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-section, .footer-brand {
    width: 100%;
    max-width: 500px;
}

.izquierda,.derecha {
    align-items: center;
    text-align: center;
}

.redes ul {
    justify-content: center;
}

.footer-section a, .footer-section p {
    font-size: 16px;
}

.footer-section i {
    font-size: 24px;
}


}
@media (max-width: 550px){

h1{
    font-size: 3.3dvh;
    margin: -10 px 0 -5px
}

.container-left
{
    align-content: right;
    display: block;
    background: #afafaf40;
    backdrop-filter: blur(0.9rem);
    -webkit-backdrop-filter: blur(0.9rem);
    border: 1px solid rgba(255, 249, 249, 0.61);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.384);
    margin-top: 0;
    overflow-y: scroll;
    width: 100%;
    height: 12rem;
    border-radius: 10px;
}


.container-left li{
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 2.2dvh;
    border-bottom: none;
}

.container-left h3{
    font-size: 2.7dvh;
}

.container-right{
    width: 100%;
    float: right;
    position: relative;
    display: block;
}
}

/*boton para subir*/
.back-to-top {
    display: none; 
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9999;
}

.youtube-menu{
    color: #FF0000;
}
.fa-youtube{
    color: #FF0000;
}
.fa-facebook{
    color: #1877F2;
}
.instagram-gradient {
    font-size: 40px;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}
.fa-x-twitter{
    color: #dddddd;
}
.fa-telegram{
    color: #0088CC;
}